/* ============== Navbar=========== */
  #navbar .navbar {
    width: 100%;
    background-color: white;
    box-shadow: 0px 6px 40px 0px #adadad40;
  }
  
  #navbar .category {
    color: white;
    margin-left: 20px;
  }
  #navbar .search {
    width: auto;
    border-radius: 20px;
    border-color: #9b9b9b;
    margin-left: 250px;
  }
  
  #navbar .search::placeholder {
    color: #9b9b9b;
    padding-left: 10px;
  }
  
  #navbar .iconSearch {
    margin-left: -30px;
    color: #9b9b9b;
  }

  #navbar .logo-shopid {
    width : 130px;
  }
  
  #navbar .filter {
    font-size: 20px;
    color: #9b9b9b;
    margin-left: 20px;
    margin-right: 60px;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-color: #9b9b9b;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
  }
  
  #navbar .cart {
    font-size: 24px;
    color: #9b9b9b;
    margin: 0 20px;
  }
  #navbar .login {
    width: 100px;
    height: 36px;
    color: white;
    background-color: #009393;
    margin: 0 20px;
    padding: 5px;
  }
  #navbar .login:hover {
    color: white;
    background-color: #14adad;
  }
  
  #navbar .register {
    width: 100px;
    height: 36px;
    color: #9b9b9b;
    border: 1px solid;
    border-color: #9b9b9b;
    padding: 5px;
  }
  
  #navbar .register:hover {
    color: white;
    background-color: #9b9b9b;
  }
  
  @media screen and (max-width: 499px) {
    #navbar .search {
      padding-left: 0;
      margin-left: 0;
      margin-top: 10px;
      width: 100%;
    }
  
    #navbar .iconSearch {
      display: none;
    }
  
    #navbar .filter {
      display: none;
    }
  
    #navbar .wrap {
      margin-top: 10px;
    }
  }
  /* ============== end Navbar =========== */
  


  /* ============== Carousel =========== */


  /* ============== End Carousel =========== */

